<ion-modal-view>
	<ion-header-bar class="bg-dark-blue no-bg-image">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty white" ng-click="closeModal()"></button>
		</div>
		<h1 class="title white">CERTIFICADO</h1>
	</ion-header-bar>
	<ion-content class="bg-dark-blue">
		<h4 class="white page-title">BLOCKCHAIN</h4>
		<div class="card verified bg-aqua" style="margin-bottom: 0">
			<div class="clear"></div>
			<div class="item item-text-wrap bg-aqua" style="margin-bottom: 0">
				<div class="clear"></div>
				<div style="float: left; max-width: 81%;">
					<div class="clear"></div>
					<h1 class="white">{{certificateName}}</h1>
					<h2>{{universityName}}</h2>
				</div>
				<div class="bg-image bel {{universityLogo}}"></div>
				<div class="clear"></div>
				<div class="row">
					<div class="col col-50 text-center">
						<h1 class="white" style="font-size: 2.3rem">3</h1>
						<h2>Confirmações</h2>
					</div>
					<div class="col col-50 text-center">
						<h1 class="white" style="font-size: 2.3rem">225</h1>
						<h2>Bytes</h2>
					</div>
				</div>
				<div class="bg-image bel blockchain"></div>
			</div>
		</div>
		<div class="card verified hour" style="margin-top: 0; padding-top: 5px !important;">
			<div class="clear"></div>
			<div class="item item-text-wrap text-center" style="margin-top: 0; padding-top: 0 !important;">
				<h4 class="white text-center">Incluída nos blocos em 25 de Janeiro de 2016</h4>
			</div>
		</div>
	</ion-content>
</ion-modal-view>