<ion-view view-title="">
  <ion-content class="bg-dark-blue" id="login-content">
	<div class="logo white ion-lock-combination"></div>
	<div class="list">
	  <label class="item item-input">
		<input type="text" placeholder="USERNAME" ng-model="loginData.username">
	  </label>
	  <label class="item item-input">
		<input type="password" placeholder="PASSWORD" ng-model="loginData.password">
	  </label>
	  <button class="button button-full white login-btn" style="font-weight: bold;" ng-click="login(loginData)">
		Log In
	  </button>
	</div>
  </ion-content>
</ion-view>
