<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bg-blue white bg-dark-blue">
      <ion-nav-back-button class="white">
      </ion-nav-back-button>
	  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-qr-scanner white" ng-click="qrCode()">
		</button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-albums white" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" class="bg-aqua">
    <ion-header-bar class="bar-stable no-bg-image bg-aqua">
      <div class="bar bar-header item-input-inset bg-aqua no-bg-image">
		<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Pesquisar por currículos">
		</label>
		<button class="button button-clear">
			Buscar
		</button>
	  </div>
    </ion-header-bar>
    <ion-content class="bg-aqua">
      <div class="card verified">
		<div class="clear"></div>
		<div class="item item-text-wrap">
			<div class="clear"></div>
			<div style="float: left">
				<div class="clear"></div>
				<h1 class="white">Raul Brito</h1>
				<h2>O menino do Blockchain</h2>
			</div>
			<div class="clear"></div>
			<div class="row">
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">2</h1>
					<h2>Diplomas Listados</h2>
				</div>
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">3</h1>
					<h2>Diplomas Pendentes</h2>
				</div>
			</div>
		</div>
	  </div>
	  <div class="card verified">
		<div class="clear"></div>
		<div class="item item-text-wrap">
			<div class="clear"></div>
			<div style="float: left">
				<div class="clear"></div>
				<h1 class="white">Geandré</h1>
				<h2>O menino do Blockchain</h2>
			</div>
			<div class="clear"></div>
			<div class="row">
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">4</h1>
					<h2>Diplomas Listados</h2>
				</div>
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">2</h1>
					<h2>Diplomas Pendentes</h2>
				</div>
			</div>
		</div>
	  </div>
	  <div class="card verified">
		<div class="clear"></div>
		<div class="item item-text-wrap">
			<div class="clear"></div>
			<div style="float: left">
				<div class="clear"></div>
				<h1 class="white">Adonias</h1>
				<h2>O menino do Blockchain</h2>
			</div>
			<div class="clear"></div>
			<div class="row">
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">5</h1>
					<h2>Diplomas Listados</h2>
				</div>
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">1</h1>
					<h2>Diplomas Pendentes</h2>
				</div>
			</div>
		</div>
	  </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
