<ion-view view-title="CertMe">
  <ion-content class="bg-dark-blue">
	<h4 class="white page-title">MEU PERFIL</h4>
	<ion-refresher
		pulling-text=""
		on-refresh="doRefresh()">
	</ion-refresher>
    <div class="card verified">
		<div class="clear"></div>
		<div class="item item-text-wrap">
			<div class="clear"></div>
			<div style="float: left">
				<div class="clear"></div>
				<h1 class="white">Bel Pesce</h1>
				<h2>A menina do vale</h2>
			</div>
			<div class="bg-image bel"></div>
			<div class="clear"></div>
			<div class="row">
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">{{certificados.length ? certificados.length : '0'}}</h1>
					<h2>Diplomas Listados</h2>
				</div>
				<div class="col col-50 text-center">
					<h1 class="white" style="font-size: 2.3rem">0</h1>
					<h2>Diplomas Pendentes</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="list card cert-list" ng-repeat="certificate in certificados">
	  <a class="item item-icon-left" ng-click="certModal('Data Science', 'MIT - Massachusetts Institute of Technology', 'mit')">
		<i class="icon ion-university aqua"></i>
		Data Science
		<h4>MIT - Massachusetts Institute of Technology</h4>
		<h5>{{certificate.hash_cert}}</h5>
	  </a>
<!--	  <a class="item item-icon-left" ng-click="certModal('Computer Science', 'MIT - Massachusetts Institute of Technology', 'mit')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Computer Science-->
<!--		<h4>MIT - Massachusetts Institute of Technology</h4>-->
<!--		<h5>8329f5105520a1b72d062628c077ddfa</h5>-->
<!--	  </a>-->
<!--	  <a class="item item-icon-left" ng-click="certModal('Eletrical Engineering', 'MIT - Massachusetts Institute of Technology', 'mit')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Eletrical Engineering-->
<!--		<h4>MIT - Massachusetts Institute of Technology</h4>-->
<!--		<h5>b72e1f212f570d931a1b49ed003e81f0</h5>-->
<!--	  </a>-->
<!--	  <a class="item item-icon-left" ng-click="certModal('Management', 'MIT - Massachusetts Institute of Technology', 'mit')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Management-->
<!--		<h4>MIT - Massachusetts Institute of Technology</h4>-->
<!--		<h5>fe4dbcab9b910577e5035e97ac068dae</h5>-->
<!--	  </a>-->
<!--	  <a class="item item-icon-left" ng-click="certModal('High School', 'Colégio Etapa', 'etapa')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Curso de Manicure-->
<!--		<h4>Colégio Etapa</h4>-->
<!--		<h5>a06f5cabe1ad95ac722a761b6b08bc15</h5>-->
<!--	  </a>-->
<!--	  <a class="item item-icon-left" ng-click="certModal('Eletrical Engineering', 'MIT - Massachusetts Institute of Technology', 'mit')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Curso de Programação-->
<!--		<h4>MIT - Massachusetts Institute of Technology</h4>-->
<!--		<h5>b72e1f212f570d931a1b49ed003e81f0</h5>-->
<!--	  </a>-->
<!--	  <a class="item item-icon-left" ng-click="certModal('Management', 'MIT - Massachusetts Institute of Technology', 'mit')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Management-->
<!--		<h4>MIT - Massachusetts Institute of Technology</h4>-->
<!--		<h5>fe4dbcab9b910577e5035e97ac068dae</h5>-->
<!--	  </a>-->
<!--	  <a class="item item-icon-left" ng-click="certModal('High School', 'Colégio Etapa', 'etapa')">-->
<!--		<i class="icon ion-university aqua"></i>-->
<!--		Curso de Desenvolvimento Web-->
<!--		<h4>Colégio Etapa</h4>-->
<!--		<h5>a06f5cabe1ad95ac722a761b6b08bc15</h5>-->
<!--	  </a>-->
	</div>
  </ion-content>
</ion-view>
