<ion-modal-view class="qrcode-modal" style="background-color: rgba(0, 0, 0, 0.6);">
	<ion-header-bar class="no-bg-image" style="background-color: rgba(0, 0, 0, 0.6) !important;">
		<div class="buttons">
			<button class="button button-clear close ion-ios-close-empty white" ng-click="closeQRCodeModal()"></button>
		</div>
		<h1 class="title white">QRCODE</h1>
	</ion-header-bar>
	<ion-content class="text-center" style="background-color: transparent !important;">
		<div class="qrcode"></div>
		<h4 class="text-center white" style="font-size: 0.9rem; margin: 0 auto; width: 90%">2a7bd24a3d93d25d37b22f89592fc31a</h4>
	</ion-content>
</ion-modal-view>