@font-face {
    font-family: Titillium;
    src: url(../fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

/*Colors*/
.bg-dark-blue{ background-color: #394253 !important; }
.bg-sea-green{ background-color: #7ad6a4 !important; }
.bg-aqua{ background-color: #56c5ee !important; }
.bg-white{ background-color: #FFF !important; }

.dark-blue{ color: #394253; }
.sea-green{ color: #7ad6a4; }
.aqua{ color: #56c5ee; }
.white{ color: #FFF !important; }
/*======*/

.clear{
	clear: both;
}

.no-bg-image{
	background-image: none !important;
}

.logo{
	font-size: 5rem;
	margin-top: 10rem !important;
	margin: 0 auto;
	text-align: center;
}

.list{
	margin: 0 auto;
	margin-top: 2.3rem;
	width: 90%;
}

.item-input, input{
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #01B6AD;
	color: #fff !important;
	margin-bottom: 0.8rem;
	padding-bottom: 0;
	padding-left: 0;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 0.75rem;
	font-weight: bold;
}

.button{
	border: none;
	border-radius: 3px;
}

.button.login-btn{
	background: linear-gradient(to right, #56c5ee , #7ad6a4) !important;
}

ion-nav-bar{
	border: none;
}

.title{
	color: #fff !important;
}

.card.verified, .card.verified .item{
	background: #7ad6a4;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

.card.verified{
	margin-top: 0.6rem;
}

.card.verified.hour, .card.verified.hour .item{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 5px !important;
}


.card *{
	font-family: Titillium !important;
}

.card .item{
	padding-top: 11px;
	padding-bottom: 5px;
}

.card h1{
	font-size: 1.5rem;
	margin-bottom: 0;
	margin-top: 0;
}

.card h2{
	color: rgba(255, 255, 255, 0.7);
}

.bg-image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-image.bel{
	background-image: url(../img/bel.jpg);
	border-radius: 50px;
	float: right;
	height: 50px;
	width: 50px;
}

.bg-image.mit{
	background-image: url(../img/mit.png);
}

.bg-image.etapa{
	background-image: url(../img/etapa.png);
}

.bg-image.blockchain{
	background-image: url(../img/blockchain.png);
	border-radius: 0;
	height: 30px;
	margin-top: -2rem;
	margin-right: -0.5rem;
	width: 30px;
}

.list.card.cert-list{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 0;
	width: 93.7%;
}

.list.card.cert-list .item{
	padding-top: 5px;
}

.list.card.cert-list h5{
	color: rgba(0, 0, 0, 0.6);
}

h4.page-title{
	margin: 0;
	margin-left: 0.6rem;
	font-size: 0.7rem;
	font-weight: bold;
}

.list.card.cert-list h4{
	margin-top: 4px;
}

.close{
	font-size: 2.3rem !important;
}

.ion-ios-albums:before{
	font-size: 27px !important;
}

ion-side-menu .card{
	border-radius: 3px !important;
}

.bar{
	border: none;
	padding-top: 0;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper, ion-side-menu .item-input-wrapper, ion-side-menu .bar button{
	margin-top: 0 !important;
}

ion-side-menu .bar{
	padding-bottom: 0;
}

.bar button{
	color: #fff !important;
}

.bar input{
	margin-bottom: 0.23rem;
}

ion-side-menu ::-webkit-input-placeholder {
	color: #888 !important;
}

.qrcode{
	background-image: url(../img/qrcode.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin: 0 auto;
	height: 330px;
	width: 90%;
}

.popup{
	border-radius: 12px !important;
}

.popup-body{
	text-align: center;
}

.popup-buttons button{
	background-color: transparent !important;
	color: #FF8010 !important;
}

.popup h3{
	font-size: 1.1rem;
	font-weight: 600;
}
.popup h5{
	font-size: 0.8rem;
}